## 2. Data loading

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data/Colorado River Basin Water Conflict Table.csv')
print(df)

     Event     Search Source                                   Newspaper  \
0        1     USGS1-50.docx               The Durango Herald (Colorado)
1        2     USGS1-50.docx  Journal, The (Cortez, Dolores, Mancos, CO)
2        3     USGS1-50.docx                       The Salt Lake Tribune
3        4     USGS1-50.docx                   Casa Grande Dispatch (AZ)
4        5     USGS1-50.docx                  The Aspen Times (Colorado)
..     ...               ...                                         ...
263    264  USGS301-350.docx               The Durango Herald (Colorado)
264    265  USGS301-350.docx  Rio Blanco Herald Times (Meeker, Colorado)
265    266  USGS301-350.docx                   Casa Grande Dispatch (AZ)
266    267  USGS301-350.docx                       The Salt Lake Tribune
267    268  USGS301-350.docx                   Casa Grande Dispatch (AZ)

                                         Article Title Duplicate Report Date  \
0    Tribes assert water rights on Colorado River B...     False    7-Apr-22
1    Native American tribes assert water rights on ...     False    7-Apr-22
2    'Very positive change.' New Utah law will be a...     False   17-Mar-22
3    Legislation would let an Arizona tribe lease C...     False   11-Dec-21
4    Historically excluded from Colorado River poli...     False   19-Dec-21
..                                                 ...       ...         ...
263  Water officials consider action for worst case...     False    9-Jun-09
264        Rangely hosts Colorado River District event     False   21-Apr-22
265  California water district lawsuit threatens dr...     False   18-Apr-19
266  Scientists want to flush water past Glen Canyo...     False   13-Dec-07
267         Arizona plan could devastate Pinal farmers       NaN    2-Feb-19

     Report Year Event Date  Event Day  Event Month  ...  \
0         2022.0        NaN        NaN          4.0  ...
1         2022.0        NaN        NaN          4.0  ...
2         2022.0        NaN        NaN          3.0  ...
3         2021.0        NaN        NaN         12.0  ...
4         2021.0        NaN        NaN         11.0  ...
..           ...        ...        ...          ...  ...
263       2019.0          6        NaN          6.0  ...
264       2022.0  4/13/2022       13.0          4.0  ...
265       2019.0          4        NaN          4.0  ...
266       2007.0         12        NaN         12.0  ...
267       2019.0  1/31/2019       31.0          1.0  ...

     Article Text Search - water rights  \
0                                    17
1                                    17
2                                    12
3                                     6
4                                    18
..                                  ...
263                                   3
264                                   3
265                                   2
266                                   0
267                                   2

    Article Text Search - intergovernmental  \
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
..                                      ...
263                                       0
264                                       0
265                                       0
266                                       0
267                                       0

    Article Text Search - water transfers Article Text Search - navigation  \
0                                       0                                0
1                                       0                                0
2                                       0                                0
3                                       0                                0
4                                       0                                0
..                                    ...                              ...
263                                     0                                0
264                                     0                                0
265                                     0                                0
266                                     0                                0
267                                     0                                0

    Article Text Search - fish Article Text Search - invasive  \
0                            0                              0
1                            0                              0
2                            1                              0
3                            0                              0
4                            0                              0
..                         ...                            ...
263                          0                              0
264                          0                              1
265                          0                              0
266                          0                              2
267                          0                              0

    Article Text Search - diversion Article Text Search - water diversion  \
0                                 0                                     0
1                                 0                                     0
2                                 0                                     0
3                                 0                                     0
4                                 0                                     0
..                              ...                                   ...
263                               0                                     0
264                               1                                     0
265                               0                                     0
266                               0                                     0
267                               0                                     0

     Article Text Search - instream Article Text Search - aquatic
0                                 0                             0
1                                 0                             0
2                                12                             1
3                                 0                             0
4                                 0                             0
..                              ...                           ...
263                               0                             0
264                               0                             0
265                               0                             0
266                               0                             0
267                               0                             0

[268 rows x 48 columns]

In [4]:
df['Event'].dtype

dtype('int64')

In [5]:
df.nunique()

Event                                           268
Search Source                                     6
Newspaper                                        45
Article Title                                   267
Duplicate                                         2
Report Date                                     235
Report Year                                      18
Event Date                                       52
Event Day                                        12
Event Month                                      12
Event Year                                       21
Conflict Present                                  2
Crisis Present                                    2
Basin                                            25
HUC6                                             22
HUC2                                              7
Place                                           135
County                                            3
County FIPS                                       3
State                                            23
State FIPS                                       19
Urban or Rural                                    6
Issue Type                                       19
Event Summary                                   253
Stakeholders                                    199
Intensity Value                                  10
Comments                                        184
Related Observation Themes                       21
Article Text Search - water quality              10
Article Text Search - invasive species            2
Article Text Search - conservation               15
Article Text Search - drought                    19
Article Text Search - flood                      10
Article Text Search - ground water depletion      1
Article Text Search - depletion                   2
Article Text Search - infrastructure              9
Article Text Search - fish passage                1
Article Text Search - instream water rights       1
Article Text Search - water rights               17
Article Text Search - intergovernmental           2
Article Text Search - water transfers             2
Article Text Search - navigation                  2
Article Text Search - fish                        8
Article Text Search - invasive                    3
Article Text Search - diversion                   6
Article Text Search - water diversion             2
Article Text Search - instream                    5
Article Text Search - aquatic                     5
dtype: int64

In [8]:
df['State'].unique()

array(['CO', 'UT', nan, 'AZ', 'OH; UT', 'AZ; CO; NM; UT', 'CA', 'AZ; UT',
       'AZ; NV', 'CO; UT; WY; NM', 'AZ; CA', 'UT; AZ', 'CO; WY', 'NV; AZ',
       'CO; AZ', 'AZ; CA; CO; NV; NM; UT; WY', 'AZ; CA; NV', 'NV', 'NM',
       'UT; CO; WY', 'CA; NV; AZ', 'AZ; NM', 'WY; UT; CO', 'TX'],
      dtype=object)

In [23]:
df['Conflict Present'].unique()

array(['Y', 'N', nan], dtype=object)

### 5. String acessor for `pandas.Series`

In [25]:
df_conflicts = df[df['Conflict Present'] == "Y"]

In [40]:
# Use str accessor with additional methods to perform string operations
# .split splits strings by ';' and expands output into separate columns
df_states = (df['State']
             .loc[df['Conflict Present'] == "Y"]
             .str
             .split(';', expand=True)
             .stack()
             .str
             .strip() # Removes white space
            )

In [52]:
df_states.count()

132

## 6. Examine state codes

One of the challenges

### 7. Brainstorm

a. To obtain a list with out repetition:
- filter the data to events with conflicts only
- Split the states for rows with multiple states using `split()`
- Trim off the white space
- use `nunique()`

In [49]:
state_article = df[['State', 'Article Title']].groupby('State').nunique()
state_article

                            Article Title
State
AZ                                     66
AZ; CA                                  4
AZ; CA; CO; NV; NM; UT; WY              3
AZ; CA; NV                              1
AZ; CO; NM; UT                          1
AZ; NM                                  1
AZ; NV                                  2
AZ; UT                                  3
CA                                      7
CA; NV; AZ                              1
CO                                     34
CO; AZ                                  2
CO; UT; WY; NM                          2
CO; WY                                  1
NM                                      6
NV                                     10
NV; AZ                                  2
OH; UT                                  1
TX                                      1
UT                                     27
UT; AZ                                  1
UT; CO; WY                              1
WY; UT; CO                              1

In [67]:
df_states

0    0    CO
1    0    CO
5    0    AZ
11   0    OH
     1    UT
          ..
257  0    AZ
258  0    UT
262  0    AZ
265  0    AZ
     1    CA
Length: 132, dtype: object

In [71]:
state = df_states.to_frame(name = "State")


state.reset_index()

     level_0  level_1 State
0          0        0    CO
1          1        0    CO
2          5        0    AZ
3         11        0    OH
4         11        1    UT
..       ...      ...   ...
127      257        0    AZ
128      258        0    UT
129      262        0    AZ
130      265        0    AZ
131      265        1    CA

[132 rows x 3 columns]

In [81]:
state_count = state.groupby('State').value_counts()

In [82]:
state_count

State
AZ    45
CA     7
CO    22
NM    10
NV    12
OH     1
UT    29
WY     6
Name: count, dtype: int64