In [1]:
import pandas as pd
import numpy as np

![Cutie Hare](https://upload.wikimedia.org/wikipedia/commons/8/8a/SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg)

This file is made available under the Creative Commons CC0 1.0 Universal Public Domain Dedication.
The person who associated a work with this deed has dedicated the work to the public domain by waiving all of their rights to the work worldwide under copyright law, including all related and neighboring rights, to the extent allowed by law. You can copy, modify, distribute and perform the work, even for commercial purposes, all without asking permission.

In [66]:
URL = "https://pasta.lternet.edu/package/data/eml/knb-lter-bnz/55/22/f01f5d71be949b8c700b6ecd1c42c701"
hares = pd.read_csv(URL)
hares.head()

,date,time,grid,trap,l_ear,r_ear,sex,age,weight,hindft,notes,b_key,session_id,study
0,11/26/1998,NaN,bonrip,1A,414D096A08,NaN,NaN,NaN,1370.0,160.0,NaN,917.0,51,Population
1,11/26/1998,NaN,bonrip,2C,414D320671,NaN,M,NaN,1430.0,NaN,NaN,936.0,51,Population
2,11/26/1998,NaN,bonrip,2D,414D103E3A,NaN,M,NaN,1430.0,NaN,NaN,921.0,51,Population
3,11/26/1998,NaN,bonrip,2E,414D262D43,NaN,NaN,NaN,1490.0,135.0,NaN,931.0,51,Population
4,11/26/1998,NaN,bonrip,3B,414D2B4B58,NaN,NaN,NaN,1710.0,150.0,NaN,933.0,51,Population

In [9]:
hares.shape

(3380, 14)

In [11]:
hares.dtypes

date           object
time           object
grid           object
trap           object
l_ear          object
r_ear          object
sex            object
age            object
weight        float64
hindft        float64
notes          object
b_key         float64
session_id      int64
study          object
dtype: object

In [14]:
hares.isnull().sum()

date             0
time          3116
grid             0
trap            12
l_ear           48
r_ear          169
sex            352
age           2111
weight         535
hindft        1747
notes         3137
b_key           47
session_id       0
study          163
dtype: int64

In [21]:
print(hares['weight'].min()) # suspicious
print(hares['weight'].max())

0.0
2365.0

In [22]:
print(hares['hindft'].min())
print(hares['hindft'].max())

60.0
160.0

In [26]:
hares[hares['weight'] == 0] = np.nan # change 0 value to NA

In [28]:
hares[hares['weight'] == 0]

Empty DataFrame
Columns: [date, time, grid, trap, l_ear, r_ear, sex, age, weight, hindft, notes, b_key, session_id, study]
Index: []

In [31]:
hares['age'].unique()

array([nan, 'J', 'A', 'a 1 yr.', 'a 3/4 yr.', 'a 1 yr', '1 yr', '1 yr.',
       '2 yrs.', '2 yrs', 'a 2 yrs.', '2.25 yrs', '3.5 yrs.', '3 yrs.',
       '2.5 yrs', '3.25 yrs.', 'A 1.5', '?', 'U', 'j', 'a', 'u', 'J 3/4',
       'A 3/4', 'A 1/2', '3/4/2013', '1/4/2013', '1/2/2013', '1', '1.25',
       '1.5'], dtype=object)

In [32]:
hares['sex'].unique()

array([nan, 'M', 'F', '?', 'F?', 'M?', 'pf', 'm', 'f', 'f?', 'm?', 'f ',
       'm '], dtype=object)

## Detecting messy values
In the metadata section of the EDI repository, find which are the allowed values for the haresâ€™ sex. Create a small table in a markdown cell showing the values and their definitions.

Get the number of times each unique sex non-NA value appears.
Check the documentation of value_counts(). What is the purpose of the dropna parameter and what is its default value? Repeat step (a), this time adding the dropna=False parameter to value_counts().

Discuss with your team the output of the unique value counts. In particular:

Do the values in the sex column correspond to the values declared in the metadata?
What could have been potential causes for multiple codes?
Are there seemingly repated values? If so, what could be the cause?
Write code to confirm your suspicions about c-iii.

| Syntax      | Description       |
| ----------- | -----------       |
| m           | Male              |
| f           | Female            |
|m?           | male not confirmed|

In [38]:
hares['sex'].value_counts(dropna=False).unique

<bound method Series.unique of sex
F      1161
M       730
f       556
m       515
NaN     352
?        40
F?       10
f         4
m         4
f?        3
M?        2
m?        2
pf        1
Name: count, dtype: int64>

## Citizen science

#### Discuss with your team the output of the unique value counts. In particular:

Do the values in the sex column correspond to the values declared in the metadata?
No. 

#### What could have been potential causes for multiple codes?
Different people recording and entering

#### Are there seemingly repated values? If so, what could be the cause?
Yes, there are repeated values


#### Write code to confirm your suspicions about c-iii.

In [68]:
hares['sex'] = hares['sex'].str.strip().str.lower().str.replace("f?", 'f')
hares[hares['sex'] == '?' or hares['sex'] == 'f?'] = np.nan
hares['sex']

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [65]:
hares['sex'].value_counts(dropna=False).unique

<bound method Series.unique of sex
f      1734
m      1249
NaN     392
m?        4
pf        1
Name: count, dtype: int64>